#SharePulse { list-decoration:none; z-index: 100; position: relative; border-top: 1px dashed #cdcdcd; clear:both; padding: 0 0 5px 0; margin-bottom: 10px; text-align: center; background-color: #fff; }
#SharePulse h5 { font-size:7px; text-align:right; padding:5px; clear: both; line-height: 9px; }


#SharePulse .SharePulse { position:relative; width: inherit; height:100px; border-bottom: 1px #cdcdcd dashed; }
#SharePulse a { color: #333; }
#SharePulse a:hover { text-decoration: none; color: #999; }

#SharePulse .sharestats { padding:0px; float:left; width:96px; height: 96px; font-size: 10px; text-align: left; }
#SharePulse .sharestats img { vertical-align: middle; }
#SharePulse .sharestats a { padding: 0; margin: 0; font-family: verdana, arial sans serif; font-size: 8px; font-weight: bold; }

#SharePulse .sharestats .tw-share { position: relative; margin: 0px; width: 48px; height: 48px; }
#SharePulse .sharestats .tw-share .tw-count { font-size: 12px; line-height: 48px; text-align: center; font-weight: bold; width: 48px; height: 48px; position: absolute; top:0px; left:0px; }
#SharePulse .sharestats .tw-share a .tw-count { opacity:0.0; }
#SharePulse .sharestats .tw-share a:hover .tw-count { color: #333; opacity: 1.0; }
#SharePulse .sharestats .tw-share a img { width: 48px; height: 48px; float:left; }
#SharePulse .sharestats .tw-share a:hover img { opacity:0.3; }

#SharePulse .sharestats div.fb-share { position: relative; margin: 0px; width: 48px; float:right; height: 48px; }
#SharePulse .sharestats .fb-share a .fb-count { font-size: 12px; line-height: 48px; text-align: center; font-weight: bold; width: 48px; height: 48px; position: absolute; top:-24px; left:0; z-index: 5; }
#SharePulse .sharestats .fb-share a .fb-count { opacity:0.0; }
#SharePulse .sharestats .fb-share a:hover .fb-count { color: #333; opacity: 1.0; }
#SharePulse .sharestats .fb-share a img { width: 48px; height: 48px; position: absolute; top: -24px; left:0; z-index: 1; }
#SharePulse .sharestats .fb-share a:hover img { opacity:0.3; }

#SharePulse .sharestats .dg-share { position: relative; margin: 0px; width: 48px; height: 48px; }
#SharePulse .sharestats .dg-share .dg-count { font-size: 12px; line-height: 48px; text-align: center; font-weight: bold; width: 48px; height: 48px; position: absolute; top:0; left:0; }
#SharePulse .sharestats .dg-share a .dg-count { opacity:0.0; }
#SharePulse .sharestats .dg-share a:hover .dg-count { color: #333; opacity: 1.0; }
#SharePulse .sharestats .dg-share a img { width: 48px; height: 48px; float:left; }
#SharePulse .sharestats .dg-share a:hover img { opacity:0.3; }

#SharePulse .SharePulse a:hover img.share-thumb { opacity:0.4; }
#SharePulse .SharePulse img.share-thumb { display:block; margin: 10px; position: absolute; left:0; width: 80px; height: 80px; z-index: 5; -moz-box-shadow: 2px 2px 3px #333; -webkit-box-shadow: 2px 2px 3px #333; *border: 1px solid #333; }
#SharePulse .SharePulse .title { width: 90px; float: left; padding: 0px 2px;  }
#SharePulse .SharePulse h4 { font-family: Georgia, Palatino Linotype, serif; font-size: 13px; line-height: 15px; float: left; padding: 16px 5px 0 0; margin: 5px auto; width: auto; height:61px; overflow: hidden; }

#SharePulse .SharePulse .total { position: absolute; z-index: 10; width:80px; margin: 10px; text-align: center; }
#SharePulse .SharePulse .total h6, #SharePulse .SharePulse .total_sm h6 { font-family: Arial Black, Gadget, sans-serif; opacity: 0.0; font-size: 35px; font-weight: bold; line-height: 80px;  }
#SharePulse .SharePulse a:hover .total h6 { color: #ededed; text-shadow: 0 0 10px #000; opacity: 1.0; }